

.contact-form {
    font-family: Ab;
    width: 400px;
    padding: 10% 0;
    border-radius: 15px;
    background-color: #333;
    color: white;
    text-align: center;
    
}


#container-grid {   
    padding: 15% 0 10% 0;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

@media screen and (max-width: 580px)  {
    #container-grid {
      padding-top: 50%;
    }
    
}