  /*SOCIALS*/

  .social-list li {
    /* Horizontal List */
    display: inline;   
    margin: 0;
}

.social-list{
    padding: 0;
    margin: 0;
}

.socialicon {    
    font-size: 2em;
   margin: 0 auto;
    /* filter:sepia(100%) */
    text-decoration: none;
}

#socials a {
    text-decoration: none;
    color:#927757;
    
}

.social-list a{
    text-decoration: none;
}
#socials ul li a:hover {
    width:40px;
    border-radius: 15px;
    filter:blur(100%);
    filter: drop-shadow(15px 15px 15px rgb(0 0 0 / 0.5));
    color:white;
}

.footer {
    padding-top: 1.25em;
    color: whitesmoke;
    text-align: center;
    background-color: #333;
    min-height: 150px;
  }