@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

body {
    
    color: #333;
    line-height: 1.6;
}

ul {
    font-family: 'Aboreto', cursive;
    list-style-type: none;
           
}

a {
    text-decoration: none;
    color: #333;
}

h1 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;    
    font-family: 'Aboreto', cursive;
}


#logo {
    font-family:'Aboreto', cursive;
    font-weight: 400 !important;
}
h2 {
    font-family: 'Aboreto', cursive;
    font-weight: 200;
    line-height: 1.2;
    margin: 10px 0;
    padding: 6px;
    border-radius: 5%;
    text-align: center;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.front-page {
    max-width: 1100px;
    margin: 0 auto;   
    padding: 5% ;   
    margin-top: 250px;      
}
 
.front-page .column {
  width: 100%;
  border-radius: 10%;
}
 
.navbar {
    background: linear-gradient(white, whitesmoke);
    color: #333;
    max-height: 300px;
    border-bottom: rgb(187, 187, 187) double 3px;
     position: fixed; 
    transition: 0.4s;
    overflow: hidden;
    top:0;
    padding:50px 10px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    float:left;
    text-align: center;
    padding: 12px;
    margin-right: 5px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;

    color: #333;
}

.menu {
    display:flex;
}



.navbar a:hover {
    border-bottom: 2px #e2c044 solid;
    margin-bottom: -2px ;

 
}

.navbar .flex {  
    justify-content: space-between;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;    
}

.container-photo {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 20% 40px;  
    
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*Hot images front page*/
 
.column-front {
  flex: 25%;
  max-width: 25%;
 padding: 0 4px;
}

.column-front img {
  margin-top: .5em;
  vertical-align: middle;
  width: 100%;
  border-radius: 10%;
  margin-bottom: 2em;
}  

  .content{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 5% ;   
    
}


.btn__front {
  display: inline-flex;  
  justify-content: right;
  align-items: right;
  background: gold;
  text-decoration: none;
  color: #333;
  padding: .5em 1.25em;
  font-size: 20px;
  border-radius: 100px;  
  margin: 0 auto;
}

.btn__front:hover,
.btn__front:focus {
  opacity: .75;
}

/*.btn {    
    padding: 16px 32px;
    align-items: center;
    justify-content: center;
    text-decoration: none;        
    display: flex;  
    background-color: #333;  
  }*/

  .see-more{
    margin: 2% 40%;
  }

  @media screen and (max-width: 100px) {
    .see-more {
      width: 1000%;

    }
  }

  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
      min-width: 50px;
      max-width: 300px;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
   padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

.gallery {    
    margin: 0 auto;    
}

.gallery img {
    -webkit-filter: brightness(100%);
}
.gallery img:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }

  .content {
    margin-top: 250px;
  }


